body{
    font-style: italic;
    font-family: 'Lato', sans-serif;
    background-color: #bb00ff4d;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #444;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid yellowgreen;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
}

input[type="number"] {
    width: 50px;
}

form{
    margin: 0 auto;
    width: 300px;
    text-align: left;
}
textarea{
    width: 200px;
    border-radius: 5px;
    border: 1px solid yellowgreen;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    height: 100px;
}
input[type="submit"] {
    color: green;
    border-radius: 5px;
    height: 20px;
    margin: 10px;
    border: 0px none;
}

input[type="reset"] {
    color: red;
    border-radius: 5px;
    height: 20px;
    margin: 10px;
    border: 1px solid red;
}