li:nth-child(even) {
    color: green;
}

li:nth-child(3) {
    background-color: cyan;
}

li:first-child{
    border-top: 1px solid green;
}
li:last-child{
    border-bottom: 5px dotted blue;
}

li:nth-child(3) a, li:nth-child(5) a{
    color: red;
}

li:nth-child(5) a:hover{
    color: grey;
}

li:nth-child(2), li:nth-child(5) {
    list-style-type: none;
}
input[type="text"]:focus{
    background-color: grey;
}

input[placeholder="first name"]:focus{
    color: green;
}

input[placeholder="last name"]:focus{
    color: blue;
}

input[type="password"] {
    color: white;
    background-color: white;
}
li:nth-child(odd) {
    color: coral;
}
input[type="email"]::selection {
    background-color: yellow;
    color: pink;
}
input[type="submit"]:hover {

    color: red;
}