.container{
    position: relative;
    border: 1px solid green;
}

section{
    margin-left: 200px;
    border: 1px solid orange;
    padding: 10px;
}

nav{
    border: 1px solid purple;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

footer{
    border: 1px solid darkgreen;
    padding: 20px;
    text-align: center;
}